* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "ZalandoSansExpanded";
	src: url("./fonts/ZalandoSansExpanded-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900; /* range for variable fonts */
	font-style: normal;
	font-display: swap; /* improves loading performance */
}

@font-face {
	font-family: "ZalandoSansExpandedItalic";
	src: url("./fonts/ZalandoSansExpanded-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900; /* range for variable fonts */
	font-style: normal;
	font-display: swap; /* improves loading performance */
}

body,
html {
	height: 100vh;
}

:root {
	/* colors */
	--light-orange: #fffaf4;
	--error-red: #f24822;
	--accepted-green: #50b800;
	--main-orange: #ff8400;
	--faded-orange: #ff840087;
	--light-grey: rgba(0, 0, 0, 65%);
	--lighter-grey: rgba(0, 0, 0, 25%);
	--lighter-black: rgba(44, 44, 44, 100%);

	/* font-sizes (naming in pixels, values in rem) */
	--font-size-4: 0.25rem;
	--font-size-8: 0.5rem;
	--font-size-12: 0.75rem;
	--font-size-16: 1rem;
	--font-size-20: 1.25rem;
	--font-size-24: 1.5rem;
	--font-size-28: 1.75rem;
	--font-size-32: 2rem;
	--font-size-36: 2.25rem;
	--font-size-40: 2.5rem;
	--font-size-44: 2.75rem;
	--font-size-48: 3rem;
	--font-size-52: 3.25rem;
	--font-size-56: 3.5rem;
	--font-size-60: 3.75rem;
	--font-size-64: 4rem;
	--font-size-68: 4.25rem;
	--font-size-72: 4.5rem;
	--font-size-76: 4.75rem;
	--font-size-80: 5rem;
	--font-size-84: 5.25rem;
	--font-size-88: 5.5rem;
	--font-size-92: 5.75rem;
	--font-size-96: 6rem;
	--font-size-100: 6.25rem;

	/* font weight */
	--regular: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;
}

/* !MAIN STYLES */

body {
	display: grid;
	font-family: "ZalandoSansExpanded", sans-serif;
	background-color: var(--light-orange);
    place-items: center;
}

body,
input:not(input[type="checkbox"]) {
	color: var(--lighter-black);
}

input[type="checkbox"], .logo {
	display: none;
}

.logo {
    position: absolute;
    width: 70px;
}

.wrapper {
	display: flex;
	align-items: center;
	column-gap: 36px;
	width: min(97%, 1240px);
    
}

.wrapper > * {
	width: 50%;
}

#heading-and-form {
	position: relative;
}

h1 {
	font-size: var(--font-size-48);
	font-weight: var(--semi-bold);
}

form {
	margin-top: 28px;
}

#inputs-group {
	display: grid;
	gap: 20px;
}

:where(form) :where(.form-field, div.input-and-icon, #sign-up-btn) {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	font-family: "ZalandoSansExpanded", sans-serif;
}

.form-field {
	background-color: white;
	padding: 20px 16px;
	outline: 0.75px solid rgba(0, 0, 0, 12%);
	box-shadow: 8px 6px 20px -6px var(--lighter-grey);
	font-size: var(--font-size-16);
}

div.input-and-icon {
	position: relative;
	margin-bottom: 20px;
}

.eye-icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	right: 20px;
}

.form-field:focus {
	outline: 1px solid var(--main-orange);
}

.form-field::placeholder {
	color: rgba(0, 0, 0, 50%);
}

#name-fields {
	display: flex;
	gap: 12px;
	width: 100%;
}

#name-fields input.form-field {
	width: 100%;
}

.create-pswd-criteria {
	display: grid;
	row-gap: 4px;
}

.confirm-li {
	list-style-type: none;
}

.confirm-li::before,
.confirm-match::before {
	display: inline-block;
	transform: translateY(1.125px);
	margin-right: 4px;
}

.confirm-li.red::before,
.confirm-match.red::before {
	content: url("./images-and-icons/x-icon.svg");
}

.confirm-li.green::before,
.confirm-match.green::before {
	content: url("./images-and-icons/tick-icon.svg");
}

#sign-up-btn {
	background-color: var(--main-orange);
	font-size: var(--font-size-20);
	color: white;
	font-weight: var(--medium);
	cursor: pointer;
	transition: background-color 0.3s;
	outline: 3px solid var(--main-orange);
}

#sign-up-btn:hover {
	background-color: transparent;
	color: var(--lighter-black);
}

.signed-up-cont {
    display: grid;
    gap: 20px;
    text-align: center;
    justify-items: center;
    width: 100%;
}

.signed-up-cont p {
    font-size: 20px;
        width: 500px;

}

/* !UTILITY CLASSES */
.hidden {
	display: none;
}

.red {
	color: var(--error-red);
}

.green {
	color: var(--accepted-green);
}

.form-hidden {
    flex-direction: column;
    width: fit-content;
}

@media (max-width: 1023px) {
	#gym-image {
		display: none;
	}

	.wrapper {
		width: min(90%, 600px);
		flex-direction: column;
	}

    #heading-and-form {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

}

@media (max-width: 767px) {
    .signed-up-cont h1 {
        font-size: 36px;
    }

    .signed-up-cont p {
        font-size: 16px;
        min-width: 280px;
        width: 65%;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 40px;
    }



}